/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #274C5B;

    // Couleurs du projet
    --color-primary: #0084B8;
    --color-primary-light: #00B5FF;
    --color-bg-primary: #EFF6F1;
    --color-joindre: #F9F8F8;
}
