.underline-transition {
    position: relative;
    overflow: hidden;
}

.underline-transition::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underline-transition:hover::after {
    transform: scaleX(1);
}